<section class="vh-75">
  <div class="container py-5 h-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <form id="login-form" action="#" method="POST">
        <input type="hidden" name="remember" value="true" />
        <div class="card text-dark border border-dark" style="background-color: #ddb38c">
          <div class="card-body p-5 text-center">
            <div class="mb-md-4 mt-md-3 pb-4">
              <h2 class="fw-bold mb-2 text-uppercase">Welcome</h2>
              <p class="text-white mb-4">Please enter your email and password to log in and view your dashboard.</p>
              <div class="form-floating mb-4 text-dark">
                <input type="email" class="form-control" id="username-login" placeholder="name@example.com">
                <label for="username-login">Username</label>
              </div>
              <div class="form-floating mb-4 text-dark">
                <input type="password" class="form-control" id="password-login" placeholder="Password">
                <label for="password-login">Password</label>
              </div>
              <button type="submit" id="login-btn" class="btn btn-outline-dark btn-md px-5" >LOG IN</button>
            </div>
            <div>
              <p class="mb-0">Don't have an account? <a href="/signup" class="text-white fw-bold">Sign Up</a></p>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>

</section>

<script src="/js/login.js"></script>